# raceType = <typ>
#  Vilken typ av race vill ni ha?
#    marathon - Deltagarna kör en sträcka
#    varv     - Deltagarna kör så många varv de hinner med
#    etapp    - Racet består av flera sammanhängade marathonlopp
raceType = marathon

# nameFile = <filväg>
#  Filvägen till infofilen (ex tider/namnfil.txt)
nameFile = persons.txt

# stationID = <nr>
#  Används för att start- och slutfilerna får en unik nummer beroende
#  på vilken dator som filen kommer ifrån. Underlättar vid felsökning!
stationID = 01

# minTime = <tid>
#  Bestämmer vilken tid som ska räknas som omöjlig, dvs om man får en tid som är
#  mindre än denna kommer den att märkas i resultaten så att det blir lättare
#  att hitta fel.
#    Ex. 00.15.10 betyder 15 minuter och 10 sekunder
minTime = 00.15.00

# sortBy = <typ>
#  Bestämmer hur resultatet ska vara sorterat.
#    std  - Standard: Sorterar efter loppets egenskaper och skriver ut placering
#    stNr - Sorterar efter startnummer
sortBy = std

# resFormatter = <typ>
#  Ställer in om du vill ha resultatet i csv/excel eller HTML.
#    html - Formaterar resultatet i HTML
#    csv  - Formaterar resultatet i CSV/Excel
resFormatter = csv

###### Inställningar för varvlopp ######

# timeWhenOpen = <tidpunkt i aa.bb.cc format>
#  Ställer in tiden starten är öppen för varvlopp. 
#  Är 12.00.00 om inget annat anges.
#  Ex:
#    13.11.53 - Sätter starttiden till 13.11.53
timeWhenOpen = 00.00.00


###### Inställningar för Etapplopp ######

# e_numStages = <nummer>
#  Antal ettaper som deltagarna beräknas köra.
e_numStages = 2

# e_specialStage = <E#*#, ...>
#  Definierar en eller flera special sträckor.
#   Tex. pm du vill att etapp 2 ska räknas 3 gånger och etapp 4 ska räknas 2 gånger
#   skriver du:
#      E2*3, E4*2
e_specialStage = !ej implementerad

# e_batchTimeFiles = <startTidsFil1,slutTidsFil1,startTidsFil2,slutTidsFil2,...,startTidsFilN,slutTidsFilN>
#  Definierar de filer man vill läsa in om man vill göra ett batch-jobb. Om N=0 så läses inte några filer in.
#  Konventionen är här att N = e_NumStages, om N != e_NumStages så genereras ett fel.
#  Exempel på användning är:
#  e_batchTimeFiles = SS1Start.txt,SS1Finish.txt,SS2Start.txt,SS2Finish.txt
#  Om filerna inte existerar genereras ett fel.
e_batchTimeFiles = 
